@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(240, 253, 244);
}


.swiper-button-next:after,
.swiper-button-prev:after{
  color:#d7f1f1
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background:#d7f1f1 !important ;
}


html::-webkit-scrolbar{
  display:none
}

html{
  scrollbar-width:none
}